<a href="https://colab.research.google.com/github/Miswanto313/Machine_Learning/blob/main/Konversi_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import library pandas dan memberikan alias **pd** untuk library tersebut. Memberikan alias **pd** terhadap library pandas adalah praktek yang umum dilakukan para pengembang ML

In [2]:
import pandas as pd

Pada Colab kita memiliki berkas csv yang dapat kita pakai untuk mencoba library pandas. Anda juga bisa melihat beberapa berkas bawaan yang disediakan **Colab** dengan menggunakan **library os**

In [ ]:
import os
os.listdir('sample_data')

Pada latihan ini kita akan mencoba melakukan konversi dari berkas ‘california_housing_train.csv’ yang merupakan bawaan dari Colab. Untuk mengubah berkas csv menjadi dataframe, kita menggunakan fungsi read_csv() pada library pandas kemudian menyimpannya pada sebuah variabel yaitu df

In [4]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

Untuk melihat apakah konversi berhasil, Anda bisa memanggil fungsi head() pada dataframe. Fungsi **head()** akan menampilkan baris teratas dari sebuah dataframe sesuai parameter input yg diberikan

In [5]:
df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]