<a href="https://colab.research.google.com/github/Miswanto313/Machine_Learning/blob/main/SKLearn_SVM_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Unduh dataset Pima Indian dari  [tautan](https://www.kaggle.com/uciml/pima-indians-diabetes-database)berikut

Mengimpor library pandas

In [1]:
import pandas as pd

Mengubah dataset menjadi sebuah dataframe.

In [2]:
df = pd.read_csv('/content/sample_data/diabetes.csv')

Melihat informasi baris data set teratas **head()**

In [3]:
df.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

Melihat informasi data, apakah terdapat nilai-nilai yang hilang pada dataset serta apakah ada atribut yang bukan berisi bilangan numerik **info()**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Memisahkan atribut pada dataset dan menyimpannya pada sebuah variabel

In [5]:
X = df[df.columns[:8]]

Memisahkan label pada dataset dan menyimpannya pada sebuah variabel

In [7]:
y = df['Outcome']

Mengubah nilai-nilai dari setiap atribut berada pada skala yang sama. Kita dapat mencoba menggunakan standarisasi dengan fungsi **StandardScaler()** dari SKLearn

In [8]:
from sklearn.preprocessing import StandardScaler

Standarisasi nilai-nilai dari dataset

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(X)
X = scaler.transform(X)

Memisahkan data untuk training dan testing menggunakan fungsi .**train_test_split()**

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

Mengimpor library svm

In [13]:
from sklearn.svm import SVC

Memanggil fungsi fit untuk melatih model.

In [14]:
clf = SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Melihat bagaimana akurasi prediksi dari model yang kita latih terhadap data testing

In [15]:
clf.score(X_test, y_test)

0.7559055118110236